<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">View Arpit's Data</a>
            </div>
          </div>
          <div class="text-value">Arpit</div>
          <div>Farm Owner</div>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">View Mallik's Data</a>
            </div>
          </div>
          <div class="text-value">Mallik</div>
          <div>Farm Owner</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">View Abhishek's Data</a>
            </div>
          </div>
          <div class="text-value">Abhishek</div>
          <div>Farm Owner</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">View Kapil's Data</a>
            </div>
          </div>
          <div class="text-value">Kapil</div>
          <div>Farm Owner</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">View Arokiya's Data</a>
            </div>
          </div>
          <div class="text-value">Arokiya</div>
          <div>Farm Owner</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Monthly Water Trend for Arpit {{Arpit}}</h4>
          <div class="small text-muted">November 2021</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Farms</div>
          <strong>1</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Soil Temperature Sensors</div>
          <strong>4</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Soil Moisturiser Sensors</div>
          <strong>4</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Sprinklers</div>
          <strong>2</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Location</div>
          <strong>New Delhi</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Device Status
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Sprinkler: SPKR001</small>
                    <br>
                    <strong class="h4">On</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Sprinkler: SPKR002</small>
                    <br>
                    <strong class="h4">Off</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
             
            </div><!--/.col-->
            
          </div><!--/.row-->
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                
                <th>Farm Id</th>
                <th>Device Id</th>
                <th>Device Status</th>
                <th>Farm Location</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>Farm 1</div>
                </td>
                <td>
                  <div>SS001</div>
                </td>
                <td>
                  <div>Ok</div>
                </td>
                <td>
                  <div>New Delhi</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Farm 1</div>
                </td>
                <td>
                  <div>SS002</div>
                </td>
                <td>
                  <div>Ok</div>
                </td>
                <td>
                  <div>New Delhi</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Farm 1</div>
                </td>
                <td>
                  <div>SS003</div>
                </td>
                <td>
                  <div>Ok</div>
                </td>
                <td>
                  <div>New Delhi</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Farm 1</div>
                </td>
                <td>
                  <div>SS004</div>
                </td>
                <td>
                  <div>Dead</div>
                </td>
                <td>
                  <div>New Delhi</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Farm 1</div>
                </td>
                <td>
                  <div>SM001</div>
                </td>
                <td>
                  <div>Ok</div>
                </td>
                <td>
                  <div>New Delhi</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Farm 1</div>
                </td>
                <td>
                  <div>SM002</div>
                </td>
                <td>
                  <div>Dead</div>
                </td>
                <td>
                  <div>New Delhi</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Farm 1</div>
                </td>
                <td>
                  <div>SM003</div>
                </td>
                <td>
                  <div>Ok</div>
                </td>
                <td>
                  <div>New Delhi</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Farm 1</div>
                </td>
                <td>
                  <div>SM004</div>
                </td>
                <td>
                  <div>Ok</div>
                </td>
                <td>
                  <div>New Delhi</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
